<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>Añadir Nuevo Producto</h2>

<form th:action="@{/items/editar}" th:object="${item}" method="post">
    <input type="hidden" th:field="*{_id}">

<input type="hidden" th:field="*{id}">

<label>Título: <input type="text" th:field="*{title}"></label><br>

    <label>Descripción: <input type="text" th:field="*{description}"></label><br>

    <label>Precio (€): <input type="number" step="0.01" th:field="*{price}"></label><br>

    <input type="hidden" th:field="*{_id}">

    <input type="hidden" th:field="*{id}">


    <div class="form-group">
        <label>Descripción:</label>
        <textarea th:field="*{description}" rows="4" style="width: 300px; vertical-align: top;"></textarea>
    </div>


    <div class="form-group">
        <label>Categoría:</label>
        <select th:field="*{category}">
            <option value="">Seleccione una categoría</option>
            <option th:each="cat : ${categorias}"
                    th:value="${cat}"
                    th:text="${cat}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>Valoración (Rate):</label>
        <input type="number" step="0.1" min="0" max="5" th:field="*{rate}">
    </div>

    <div class="form-group">
        <label>Stock (Count):</label>
        <input type="number" th:field="*{count}">
    </div>

    <div class="form-group">
        <label>Color:</label>
        <input type="text" th:field="*{color}">
    </div>

    <div class="form-group">
        <label>Fabricante:</label>
        <input type="text" th:field="*{manufacturer}">
    </div>

    <div class="form-group">
        <label>EAN:</label>
        <input type="text" th:field="*{EAN}">
    </div>

    <div class="form-group">
        <label>URL Imagen:</label>
        <input type="text" th:field="*{image}">
    </div>

    <hr>
    <button type="submit" class="btn-save">Guardar Cambios</button>
    <a th:href="@{/items/lista}" class="btn-cancel">Cancelar y Volver</a>
</form>

</body>
</html>